In [1]:
import pandas as pd
from PIL import Image
import requests
from io import BytesIO

In [2]:
train = pd.read_csv("Data\\train.csv")

In [3]:
# get first image of all landmarks
df = train.drop_duplicates(subset=['landmark_id'], keep='first')
n = len(df)

In [5]:
fail = []
for i in range(n):
    try:
        response = requests.get(df['url'][i])
        img = Image.open(BytesIO(response.content))
        img = img.save("D:\Landmarks\\" + str(df['landmark_id'][i]) + ".jpg")
    except:
        fail.append(i)

In [7]:
faildf = pd.DataFrame()
faildf['fail'] = fail
faildf.to_csv('fail.csv')

In [8]:
landmarks = [11351, 8678, 23385, 30699, 59157, 71604, 97055, 108909, 111216, 119108, 138281, 140473, 143338, 150000, 157518, 160724, 164161, 166729, 182144, 546, 21427, 25662, 159539]

        fail
0          2
1          8
2         10
3         12
4         15
...      ...
11448  14939
11449  14940
11450  14941
11451  14943
11452  14944

[11453 rows x 1 columns]

In [ ]:
# get first image of all landmarks
df2 = train.drop_duplicates(subset=['landmark_id'], keep='first')

In [6]:

for i in range(n):
    try:
        response = requests.get(train['url'][i])
        img = Image.open(BytesIO(response.content))
        img = img.save("D:\Landmarks\\" + str(train['landmark_id'][i]) + ".jpg")
    except:
        fail.append(i)

11453